{% extends 'index.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">About Us</h2>
                <ul class="page-list">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- about area start -->
<div class="about-area pd-top-50 pd-bottom-50">
    <div class="container">
        <div class="about-area-inner">
            <!-- <div class="row">
                <div class="col-lg-6 col-md-10">
                     <div class="about-thumb-wrap after-shape" style="background-image: url('assets/img/about/2.png');">
                    </div> 
                </div> -->
            <div class="col text-justify">
                <div class="about-inner-wrap">
                    <div class="section-title mb-0">
                        <h6 class="sub-title right-line">ABOUT US</h6>

                        {% if about_us_images %}
                        <div id="aboutUsCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for about_us_image in about_us_images %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ about_us_image.image.url }}" alt="About Us Image {{ forloop.counter }}"
                                        class="d-block w-100">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#aboutUsCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#aboutUsCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <div class="mt-2">
                        {{ about.description|safe }}
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
</div>
<!-- about area end -->

<!-- team area start -->
<div class="team-area pd-top-10 pd-bottom-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title text-center">
                    <h6 class="sub-title double-line">Meet Our Team</h6>
                    <h2 class="title">Our Creative Team</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% if teams %}
            {% for team in teams %}
            <div class="col-lg-4 col-md-6">
                <div class="single-team-inner">
                    <div class="thumb">
                        {% if team.picture %}
                        <img src="{{ team.picture.url }}" alt="img" height="350px">
                        {% else %}
                        <img src="{% static 'assets/img/team/2.png' %}" alt="img">
                        {% endif %}

                        <div class="social-wrap">
                            {% if team.email %}
                            <div class="social-wrap-inner mb-1">
                                <a class="social-share" href="mailto:{{ team.email }}"><i
                                        class="fa fa-envelope-o"></i></a>
                            </div>
                            {% endif %}
                            {% if team.phone_number %}
                            <div class="social-wrap-inner">
                                <a class="social-share" href="tel:{{ team.phone_number }}"><i
                                        class="fa fa-phone"></i></a>
                            </div>
                            {% endif %}
                            {% if team.facebook %}
                            <div class="social-wrap-inner">
                                <a class="social-share" href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="details">
                        <h3><a href="#">{{ team.name }}</a></h3>
                        <span>{{ team.post }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- team area end -->

<!--events-area start-->
<div class="events-area pd-top-110 pd-bottom-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-11">
                <div class="section-title text-center">
                    <h6 class="sub-title double-line">EVENTS</h6>
                    <h2 class="title">Upcoming Events</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <ul class="single-blog-list-wrap style-white" style="background-color: var(--heading-color);">
                    <li>
                        <div class="media single-blog-list-inner style-white">
                            <div class="media-left date">
                                <span>JAN</span>
                                20
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Clone sit amet, consec tetur elit</a></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media single-blog-list-inner">
                            <div class="media-left date">
                                <span>FEB</span>
                                26
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Maecenas interdum lorem eleifend</a></h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media single-blog-list-inner">
                            <div class="media-left date">
                                <span>JAN</span>
                                28
                            </div>
                            <div class="media-body details">
                                <ul class="blog-meta">
                                    <li><i class="fa fa-user"></i> BY ADMIN</li>
                                    <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                </ul>
                                <h5><a href="blog-details.html">Nunc scelerisque tincidunt elit. </a></h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 align-self-center">
                <div class="event-thumb">
                    <img src="{% static 'assets/img/other/events.png' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!--events-area end-->
{% endblock %}