{% extends 'index.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Contact</h2>
                <ul class="page-list">
                    <li><a href="/">Home</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- contact list start -->
<div class="contact-list pd-top-120 pd-bottom-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="contact-list-inner">
                    <div class="media">
                        <div class="media-left">
                            <img src="{% static 'assets/img/icon/17.png' %}" alt="phone">
                        </div>
                        <div class="media-body align-self-center">
                            <h5>Our Phone</h5>
                            <p>{{ info.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-list-inner">
                    <div class="media">
                        <div class="media-left">
                            <img src="{% static 'assets/img/icon/18.png' %}" alt="mail">
                        </div>
                        <div class="media-body align-self-center">
                            <h5>Our Email</h5>
                            <p>{{ info.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-list-inner">
                    <div class="media">
                        <div class="media-left">
                            <img src="{% static 'assets/img/icon/16.png' %}" alt="img">
                        </div>
                        <div class="media-body align-self-center">
                            <h5>Our Address</h5>
                            <p>{{ info.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact list end -->

<!-- counter area start -->
<div class="counter-area pd-bottom-120">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title mb-0">
                    <h6 class="sub-title right-line">Get in touch</h6>
                    <h2 class="title">Write Us a Message</h2>
                    <ul class="social-media style-base pt-3">
                        {% if info.facebook %}
                        <li>
                            <a href="{{ info.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        {% endif %}
                        {% if info.twitter %}
                        <li>
                            <a href="{{ info.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        {% endif %}
                        {% if info.instagram %}
                        <li>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
                <form class="contact-form-inner mt-5 mt-md-0" method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-input-inner style-bg-border">
                                <input type="text" name="full-name" placeholder="Full Name" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-input-inner style-bg-border">
                                <input type="tel" name="phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="single-input-inner style-bg-border">
                                <input type="email" name="email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="single-input-inner style-bg-border">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-input-inner style-bg-border">
                                <textarea name="message" placeholder="Message" required></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-base" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- counter area end -->

<!-- contact area start -->
<div class="contact-g-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.3850038115256!2d84.4037763759919!3d27.70539672557655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3994fb6fdfd935ed%3A0x29e6424f203a7aec!2sLUMBINI%20ICT%20CAMPUS!5e0!3m2!1sen!2snp!4v1706249157269!5m2!1sen!2snp"
        width="95%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- contact area end -->
{% endblock %}