{% extends 'index.html' %}
{% load static %}
{% block title %} {{ course.title }} {% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">{{ course.title }}</h2>
                <ul class="page-list">
                    <li><a href="/">Home</a></li>
                    <li>{{ course.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="mt-4 mb-5 text-justify">
        {{ course.description|safe }}
    </div>
</div>
<br>
{% endblock %}