{% extends 'index.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% block meta %}
<meta name="description"
    content="Discover upcoming events, conferences, workshops, and seminars. Stay informed about the latest happenings in our community." />
<meta name="keywords" content="events" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
{% endblock %}
{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Event</h2>
                <ul class="page-list">
                    <li><a href="/">Home</a></li>
                    <li>Event</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- event area start -->
<div class="event-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row">
            {% if events %}
            {% for event in events %}
            <div class="col-lg-12">
                <div class="media single-event-inner align-items-center">
                    <div class="media-left date">
                        <span>{{ event.date|date:"M"| upper }}</span><br>
                        {{ event.date|date:"d" }}
                    </div>
                    <div class="media-body details">
                        <ul class="blog-meta">
                            <li><i class="fa fa-clock-o"></i> {{ event.date|date:"h:i A" }}</li>
                        </ul>
                        <h5><a href="{% url 'event-details' event.slug %}">{{ event.title }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-12">
            <nav class="td-page-navigation text-center">
                <ul class="pagination">
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">3</a></li>
                    <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
<!-- event area end -->
{% endblock %}