{% extends 'index.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block meta %}
<meta name="description"
    content="Explore our gallery and immerse yourself in a collection of captivating images. Discover stunning photography, artwork, and visual stories that showcase the beauty of our community, events, and projects." />

<meta name="keywords" content="gallery" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Gallery</h2>
                <ul class="page-list">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- team area start -->
<div class="team-area pd-top-120 pd-bottom-90">
    <div class="container">
        {% if gallery_data %}
        {% for data in gallery_data %}

        <h6 class="d-block">{{ data.gallery.title }}</h6>
        <p>{{ data.gallery.description | safe }}</p>


        <div class="row justify-content-left">
            {% for image in data.images %}

            <div class="col-lg-3 col-md-2">
                <div class="single-gallery-inner">
                    <div class="thumb">
                        <img class="w-100" src="{{ image.image.url }}" alt="img" style="aspect-ratio: 3/2;">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        </hr>

        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- team area end -->
{% endblock %}