{% load static %}
<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% if info %}
        {{ info.name }}
        {% else %}
        Home
        {% endif %}
        {% endblock %}

    </title>
    <link rel=icon href="{{ info.logo.url }}" sizes="20x20" type="image/.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>

<body>

    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- search popup start-->
    <div class="td-search-popup" id="td-search-popup">
        <form action="{% url 'home' %}" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- search popup end-->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- navbar start -->
    <div class="navbar-area">
        <!-- navbar top start -->
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-md-left text-center">
                        <ul>
                            <li>
                                <p><i class="fa fa-map-marker"></i>
                                    {{ info.address }}
                                </p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope-o"></i>{{ info.email }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="topbar-right text-md-right text-center">
                            <li class="social-area">
                                {% if info.facebook %}
                                <a href="{{ info.facebook }}" target="_blank"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                                {% endif %}
                                {% if info.twitter %}
                                <a href="{{ info.twitter }}" target="_blank"><i class="fa fa-twitter"
                                        aria-hidden="true"></i></a>
                                {% endif %}
                                {% if info.instagram %}
                                <a href="{{ info.instagram }}" target="_blank"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-area-2 navbar-area navbar-expand-lg">
            <div class="container nav-container">
                <div class="responsive-mobile-menu">
                    <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-left"></span>
                        <span class="icon-right"></span>
                    </button>
                </div>
                <div class="logo">
                    {% if info.logo %}
                    <a href="{% url 'home' %}"><img src="{{ info.logo.url }}" alt="Logo"></a>
                    {% else %}
                    <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo-2.png' %}" alt="img"></a>
                    {% endif %}
                </div>
                <div class="nav-right-part nav-right-part-mobile">
                    <!-- <a class="signin-btn" href="signin.html">Sign In</a>
                    <a class="btn btn-base" href="signup.html">Sign Up</a>
                    <a class="search-bar" href="#"><i class="fa fa-search"></i></a> -->
                    <div class="emt-phone-wrap">
                        <div class="emt-phone">
                            <i class="fa fa-phone"></i>
                            <div class="phone-number align-self-center">
                                Call Us <br>
                                <span>{{ info.phone_number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="edumint_main_menu">
                    <ul class="navbar-nav menu-open">
                        <li class="menu-item current-menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'notices' %}">Notices</a></li>
                        <li class="menu-item-has-children">
                            <a>Courses</a>
                            {% if courses %}
                            <ul class="sub-menu">
                                {% for course in courses %}
                                <li><a href="{% url 'course-details' course.slug %}">{{ course.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <!-- <li><a href="signin.html">Sign In</a></li>
                                <li><a href="signup.html">Sign Up</a></li> -->
                            </ul>
                        </li>
                        <!-- <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li> -->
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="nav-right-part nav-right-part-desktop style-black">
                    <!-- <a class="signin-btn" href="signin.html">Sign In</a>
                    <a class="btn btn-base" href="blog.html">Sign Up</a> -->
                    <div class="emt-phone-wrap">
                        <div class="emt-phone">
                            <i class="fa fa-phone"></i>
                            <div class="phone-number align-self-center">
                                Call Us <br>
                                <span>{{ info.phone_number }}</span>
                            </div>
                        </div>
                    </div>
                    <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->
    {% block content %}

    <!-- banner start -->
    <div class="banner-area banner-area-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 align-self-center">
                    <div class="banner-inner style-white text-center text-lg-left">
                        <h6 class="b-animate-1 sub-title">PLACE TO GROW</h6>
                        <h1 class="b-animate-2 title">WE CREATING LEADERS FOR TOMORROW</h1>
                        <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="blog.html">Get A Quote</a>
                        <a class="btn btn-border-white b-animate-3" href="blog.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- intro start -->
    <div class="intro-area intro-area--top">
        <div class="container">
            <div class="intro-area-inner-2">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-title text-center">
                            <h6 class="sub-title double-line">FEATURES</h6>
                            <h2 class="title">An exemplary <br> learning community</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-intro-inner style-thumb text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/img/intro/4.png' %}" alt="img">
                            </div>
                            <div class="details">
                                <h5>Postgraduate</h5>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-intro-inner style-thumb text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/img/intro/5.png' %}" alt="img">
                            </div>
                            <div class="details">
                                <h5>Postgraduate</h5>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-intro-inner style-thumb text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/img/intro/6.png' %}" alt="img">
                            </div>
                            <div class="details">
                                <h5>Postgraduate</h5>
                                <p>Lorem ipsum dolor</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="intro-footer bg-base">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-list-inner">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'assets/img/icon/19.png' %}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>Engineering</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-list-inner">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'assets/img/icon/20.png' %}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>PHD Scholarship</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-list-inner">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{% static 'assets/img/icon/21.png' %}" alt="img">
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5>Accounting</h5>
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- intro end -->

    <!-- about area start -->
    <div class="about-area pd-top-120">
        <div class="container">
            <div class="about-area-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-thumb-wrap after-shape"
                            style="background-image: url('{{ info.featured_image.url }}'); background-size: cover; min-height: 600px;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-inner-wrap">
                            <div class="section-title mb-0">
                                <h6 class="sub-title right-line">ABOUT US</h6>
                                <h2 class="title">{{ info.title }}</h2>
                                <p class="content text-justify">
                                    {% if about_description %}
                                    {{ about_description|safe }}...
                                    {% endif %}
                                </p>
                                <div class="row">
                                    {% if courses %}
                                    {% for course in courses %}
                                    <div class="col-sm-6">
                                        <ul class="single-list-wrap">
                                            <li class="single-list-inner style-check-box">
                                                <i class="fa fa-check"></i> {{ course.title }}
                                            </li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <a class="btn btn-border-black" href="{% url 'about' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->

    <!-- course area start -->
    <!-- <div class="course-area pd-top-110 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">OUR COURSES</h6>
                        <h2 class="title">Top Featured Courses</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-course-inner style-two">
                        <div class="emt-thumb-icon">
                            <img src="{% static 'assets/img/icon/6.png' %}" alt="img">
                        </div>
                        <div class="thumb">
                            <img src="{% static 'assets/img/course/1.png' %}" alt="img">
                        </div>
                        <div class="details">
                            <div class="emt-course-meta border-0">
                                <div class="row">
                                    <div class="col-10">
                                        <h6><a href="course-details.html">Creative resilience</a></h6>
                                    </div>
                                    <div class="col-2 text-right">
                                        <a class="arrow-right" href="course-details.html"><img
                                                src="{% static 'assets/img/icon/5.png' %}" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div> -->
    <!-- course area end -->

    <!--events-area start-->
    <div class="events-area pd-top-110 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">EVENTS</h6>
                        <h2 class="title">Upcoming Events</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <ul class="single-blog-list-wrap style-white" style="background-color: var(--heading-color);">
                        <li>
                            <div class="media single-blog-list-inner style-white">
                                <div class="media-left date">
                                    <span>JAN</span>
                                    20
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Clone sit amet, consec tetur elit</a></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media single-blog-list-inner">
                                <div class="media-left date">
                                    <span>FEB</span>
                                    26
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Maecenas interdum lorem eleifend</a></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media single-blog-list-inner">
                                <div class="media-left date">
                                    <span>JAN</span>
                                    28
                                </div>
                                <div class="media-body details">
                                    <ul class="blog-meta">
                                        <li><i class="fa fa-user"></i> BY ADMIN</li>
                                        <li><i class="fa fa-folder-open-o"></i> Air transport</li>
                                    </ul>
                                    <h5><a href="blog-details.html">Nunc scelerisque tincidunt elit. </a></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 align-self-center">
                    <div class="event-thumb">
                        <img src="{% static 'assets/img/other/events.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--events-area end-->

    <!-- testimonial area start -->
    <div class="testimonial-area pd-top-110 pd-bottom-120"
        style="background-image: url(assets/img/testimonial/bg.png); background-size: cover; background-position: center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-11">
                    <div class="section-title text-center">
                        <h6 class="sub-title double-line">Client Testimonials</h6>
                        <h2 class="title">What our clients say </h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider-2 owl-carousel">
                <div class="item">
                    <div class="single-testimonial-inner">
                        <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis at est id leo luctus gravida a
                            in ipsum.</p>
                        <div class="media testimonial-author">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/1.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Eugene Freeman</h6>
                                <p>Tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-inner">
                        <span class="testimonial-quote"><i class="fa fa-quote-right"></i></span>
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Duis at est id leo luctus gravida a
                            in ipsum.</p>
                        <div class="media testimonial-author">
                            <div class="media-left">
                                <img src="{% static 'assets/img/testimonial/2.png' %}" alt="img">
                            </div>
                            <div class="media-body align-self-center">
                                <h6>Kelly Coleman</h6>
                                <p>Nulla nec</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial area end -->

    {% endblock %}
    <footer class="footer-area footer-area-2 bg-gray">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_about text-center">
                            <a href="{% url 'home' %}"><img src="{{ info.logo.url }}" alt="img"></a>
                            <div class="details">
                                <p>Lumbini ICT Campus is one of the leading reputed and renowned institution well known
                                    for never ending dedication and devotion to quality education and a candid temple of
                                    knowledge and wisdom.</p>
                                <ul class="social-media">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_contact">
                            <h4 class="widget-title">Contact Us</h4>
                            <ul class="details">
                                <li><i class="fa fa-map-marker"></i> {{ info.address }}</li>
                                <li><i class="fa fa-envelope"></i> {{ info.email }}</li>
                                <li><i class="fa fa-phone"></i> {{ info.phone_number }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_blog_list">
                            <h4 class="widget-title">News & Blog</h4>
                            <ul>
                                <li>
                                    <h6><a href="blog-details.html">Big Ideas Of Business Branding Info.</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                                </li>
                                <li>
                                    <h6><a href="blog-details.html">Ui/Ux Ideas Of Business Branding Info.</a></h6>
                                    <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_nav_menu">
                            <h4 class="widget-title">Course</h4>
                            <ul>
                                {% if courses %}
                                {% for course in courses %}
                                <li><a href="{% url 'course-details' course.slug %}">{{ course.title }}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="text-center">
                <p>{{ info.name }} - &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    All rights reserved
                </p>
            </div>
        </div>
        </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->


    <!-- all plugins here -->
    <script src="{% static 'assets/js/vendor.js' %}"></script>
    <!-- main js  -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>