{% extends 'index.html' %}
{% load static %}
{% block title %} {{ notice.title }} {% endblock %}
{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">{{ notice.title }}</h2>
                <ul class="page-list">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Notices</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- notice area start -->
<div class="about-area pd-top-50 pd-bottom-50">
    <div class="container">
        <div class="about-area-inner">
            <div class="col text-justify">
                <div class="about-inner-wrap">
                    <div class="section-title mb-0">
                        <h6 class="sub-title right-line">Notice</h6>

                        <!-- {% if notice_images %}
                        <div id="noticeCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for notice_image in notice_images %}
                                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ notice_image.image.url }}" alt="Notice Image {{ forloop.counter }}"
                                        class="d-block img-thumbnail">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#noticeCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#noticeCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div> 
                        {% endif %} -->

                    </div>
                    <div class="mt-2">
                        {{ notice.description|safe }}
                    </div>
                </div>
                <div class="row">
                    {% for image in notice_images.all %}
                    <div class="col-md-3">
                        <div class="image-gallery">

                            <a href="{{ image.image.url }}" target="">
                                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-thumbnail"
                                    style="aspect-ratio: 3/2; object-fit: contain; margin-bottom: 50px;">
                            </a>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                <script>
                    // JavaScript for full-screen image preview
                    $(document).ready(function () {
                        $('.image-gallery a').click(function (event) {
                            event.preventDefault();
                            var imageUrl = $(this).attr('href');
                            window.open(imageUrl, '_blank');
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!-- notice area end -->

{% endblock %}